.description {
  text-align: center;
  padding: 0 20px;

  &--margin {
    margin-top: 32px;
    margin-bottom: 27px;

    @media (min-width: @tablet-width) {
      margin-top: 45px;
      margin-bottom: 52px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 55px;
      margin-bottom: 41px;
    }
  }
}

.description__catalog {
  margin-top: 32px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 59px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 97px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: @grey;
    left: 0;
    bottom: 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.description__catalog-break {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  color: @dark;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  &--size {
    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }

  &--margin {
    margin-bottom: 27px;
  }

  &--margin-top {
    margin-bottom: 33px;
  }
}

.description__form {
  margin-top: 36px;

  @media (min-width: @tablet-width) {
    margin-top: 71px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 113px;
    margin-bottom: 45px;
  }
}

.description__slogan {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @dark-100;

  &--padding {
    padding-bottom: 32px;

    @media (min-width: @tablet-width) {
      padding-top: 6px;
    }
  }
}

.description__image {
  width: 320px;
  height: 201px;
  display: block;

  @media (min-width: @tablet-width) {
    min-width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    min-width: 800px;
  }
}

.description__break-h2 {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.description__break-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.description__break-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
