.hotel-map {
  background-color: @white;
  text-align: center;
}

.hotel-map__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @dark;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.hotel-map__slogan {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @dark-100;
  margin: 0;
  padding-bottom: 27px;
}

.hotel-map__map {
  background-image: url("../../source/img/picture/map-mobile.jpg");
  background-repeat: no-repeat;
  min-height: 350px;

  @media (min-width: @tablet-width) {
    background-image: url("../../source/img/picture/map-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../source/img/picture/map-desktop.jpg");
  }
}
