.title-content {
  margin:0;
  padding:0;
  font-size: 18px;
  line-height: 26px;

  &--color {
    color: @white;
  }
  &--margin {
    margin-bottom: 22px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

