.yourself {
  margin-bottom: 77px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
    margin-bottom: 68px;
  }
}

.yourself__information {
  display: none;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    text-align: right;
    margin-top: 20px;
  }
}

.yourself__form {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
