.intro--backimage {
  background-image: url("../../source/img/picture/back-desktop.jpg");
  background-position: center top;
  background-size: 100% 389px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-size: 100% 518px;
  }
}
