// Colors

@white: #ffffff;
@white-opacity-0.3: fade(@white, 0.3);
@white-opacity-0.6: fade(@white, 0.6);
@white-100: #F2F2F2;
@grey: #E5E5E5;
@grey-50: #eeeeee;
@grey-100: #D5D5D5;
@grey-150: #e6e6e6;
@grey-200: #5C6870;
@dark: #000000;
@dark-100: #333333;
@dark-opacity-0.3: fade(@dark, 0.3);
@brown: #766357;
@brown-100: #604E43;
@brown-opacity-0.3: fade(@brown, 0.3);
@darkblue: #81B3D2;
@darkblue-opacity-0.3: fade(@darkblue, 0.3);
@darkblue-opacity-0.6: fade(@darkblue, 0.6);
@darkblue-100:#669EC0;
@darkblue-200: #5496BD;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
