.main-content__text {
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 256px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
  }
}
