.description {
  text-align: center;
  padding: 0 20px;
}

.description__main {
  text-align: center;
  padding: 0 20px;
  margin: 0 0 28px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 54px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 43px 0;
  }

  &--margin {
    margin-top: 32px;
    margin-bottom: 27px;

    @media (min-width: @tablet-width) {
      margin-top: 45px;
      margin-bottom: 52px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 55px;
      margin-bottom: 41px;
    }
  }
}

.description__catalog {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 26px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 66px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: @grey;
    left: 0;
    bottom: 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.description__catalog-break {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @dark;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  &--size {
    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }

  /*&--margin {
    margin-bottom: 27px;
  }

  &--margin-top {
    margin-bottom: 34px;
  }*/
}

.description__title-main {
  padding: 34px 0 31px 0;

  @media (min-width: @tablet-width) {
    padding: 45px 0 31px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 56px 0 31px 0;
  }
}

.description__title-catalog {
  padding: 32px 0 28px 0;
}

.description__form {
  margin: 0 0 15px 0;

  @media (min-width: @tablet-width) {
    margin-top: 34px;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 76px;
    margin-bottom: 47px;
  }
}

.description__title-video {
  padding: 0 0 28px 0;

  @media (min-width: @tablet-width) {
    padding: 0 0 33px;
  }
}

.description__title-form {
  padding: 37px 0 28px 0;

  @media (min-width: @tablet-width) {
    padding: 37px 0 32px 0;
  }
}

.description__slogan {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @dark-100;
  margin: 0;

  &--padding {
    padding-bottom: 32px;

    @media (min-width: @tablet-width) {
      padding-top: 6px;
    }
  }
}

.description__image {
  width: 320px;
  height: 201px;
  display: block;

  @media (min-width: @tablet-width) {
    min-width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    min-width: 800px;
  }
}

.description__break-h2 {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.description__break-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.description__break-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
